extend application
block content
  p
    h2 FIRST NEWS ...
    a(href="post/1") go to more ...

    h2 SECOND NEWS ...
    a(href="post/2") go to more ...

    h2 THIRD NEWS ...
    a(href="post/3") go to more ...

    block detail

block sidebar   
  .widget
    include partial/sidebar